


{% extends 'base.html' %}

{% block contenido_cuerpo %}

    {% if user.is_authenticated %}

        <a class="submit" href="{% url 'articulos:path_editar_articulo' articulo.pk %}">Editar</a>

        <a class="submit" href="{% url 'articulos:path_eliminar_articulo' articulo.pk %}">Eliminar</a>
        
    {% endif %}
    

    <section class="detalle-articulo-container">
        
        <a href="{% url 'articulos:path_listar_articulos' %}" class="volver-link"> Volver </a>

        <h1 class="titulo-articulo">{{ articulo.nombre }}</h1>

        <div class="contenido-articulo">

            <img src="{{ articulo.imagen.url }}" class="imagen-articulo" alt="{{ articulo.nombre }}">

            <p class="descripcion-articulo">
                <strong>Descripción:</strong><br>
                {{ articulo.descripcion }}
            </p>
            
        </div>

        <div class="area-comentarios">
            <h1 class="comentarios">
                Comentarios <span class="contador-comentarios">({{ articulo.MisComentarios.count }})</span>
            <form action="{% url 'apps.comentarios:path_comentar' articulo.pk %}?orden={{ request.GET.orden }}" method="post"> {%csrf_token%}
            <textarea name="comentario" type="text" cols="60" rows="5" class="comentario-texto" required="true"></textarea>
            <button type="submit">COMENTAR</button>
            </form>
            
            <h3>Ordenar:</h3>
            <a class="boton-ordenar"  href="{% url 'articulos:path_detalle_articulo' articulo.pk %}?orden=reciente">Más reciente</a>

            <a class="boton-ordenar"  href="{% url 'articulos:path_detalle_articulo' articulo.pk %}?orden=antiguo">Más antiguo</a>
           


            

            <ul class="lista-comentarios">
                {% for comentario in articulo.MisComentarios %}
                    <li>
                        <p>{{ comentario.texto }}</p>
                        <small>
                            Por: {{ comentario.usuario }} - {{ comentario.creado|date:"d/m/Y" }}
                        </small>

                        {% if request.user == comentario.usuario or es_moderador %}
                            <a href="{% url 'apps.comentarios:path_eliminar' comentario.pk %}?orden={{ request.GET.orden }}" class="boton-eliminar">Eliminar</a>
                            <span>
                                <a class="boton-editar" href="{% url 'apps.comentarios:path_editar' comentario.pk %}?orden={{ request.GET.orden }}">Editar</a>
                            </span>
                        {% endif %}
                    </li>
                {% empty %}
                    <li class="no-comentarios">No hay comentarios todavía.</li>
                {% endfor %}
            </ul>
        </div>

    </section>

{% endblock contenido_cuerpo %}






