


{% extends 'base.html' %}

{% block contenido_cuerpo %}

    <section class="detalle-articulo-container">
        
        <a href="{% url 'articulos:path_listar_articulos' %}" class="volver-link"> Volver </a>

        <h1 class="titulo-articulo">{{ articulo.nombre }}</h1>

        <div class="contenido-articulo">

            <img src="{{ articulo.imagen.url }}" class="imagen-articulo" alt="{{ articulo.nombre }}">

            <p class="descripcion-articulo">
                <strong>Descripción:</strong><br>
                {{ articulo.descripcion }}
            </p>
            
        </div>

        <div class="area-comentarios">
            <h1 class="comentarios">
                Comentarios <span class="contador-comentarios">({{ articulo.MisComentarios.count }})</span>
            <form action="{% url 'comentarios:path_comentar' articulo.pk %}" method="post"> {%csrf_token%}
            <textarea name="comentario" type="text" cols="60" rows="10" class="comentario-texto" required="true"></textarea>
            <button type="submit">COMENTAR</button>
            </form>

            

            <ul class="lista-comentarios">
                {% for comentario in articulo.MisComentarios %}
    
                    <li>
                        <p>{{ comentario.texto }}</p>
                        <small>Por: {{ comentario.usuario }} - {{ comentario.creado|date:"d/m/Y" }}</small>
                    </li>
                {% empty %}
                    <li class="no-comentarios">No hay comentarios todavía.</li>
                {% endfor %}
            </ul>
        </div>

    </section>

{% endblock contenido_cuerpo %}





