

{% extends 'base.html' %}


{% block contenido_cuerpo %}

    {% if es_moderador %}
        <a href="{% url 'articulos:path_crear_articulo' %}">Crear artículo</a>
    {% endif %}

    <h1>LISTA DE ARTICULOS</h1>

    <section class="posts">

        {% for articulo in articulos %}
            <article>

                {% if articulo.imagen %}

                    <style>
						.imagen_producto {
							width: auto;
							height: 600px;
							object-fit: cover;
							border-radius: 10px;
						}
					</style>

                    <div class="image">
                        <img src="{{ articulo.imagen.url }}" alt="{{ articulo.nombre }}" class="imagen_producto">
                    </div>

                {% endif %}

                <h3>{{ articulo.nombre }}</h3>
                <p>{{ articulo.descripcion }}</p>

                <div class="actions">
                    <a href="{% url 'articulos:path_detalle_articulo' articulo.pk %}" class="button"> Ver más </a>
                    {% if es_moderador %}
                     <a href="#" class="button" style="background-color: green; ">Editar</a>
                     <a href="#" class="button" style="background-color: red;">Eliminar</a>
                    {% endif %}
                </div>
            </article>

        {% empty %}
            <p> No hay artículos publicados todavía...</p>
        {% endfor %}

    </section>


{% endblock %}

